/* ----------About Layout---------- */
.about{
 height: 100%;
 width: 100%; 
}

.about-layout{
   height: 100%;
   min-height: 70vh;
   background-color: #F7F6F1;
   width: 100%;
   position: relative;
}

.about-layout .container{
   position: absolute;
   bottom: 50%;
   left: 50%;
   transform: translate(-50%, 50%);

   text-align: center;
}

.about-layout .container h1{
   font-size: 1.8rem;
   width: 60vw;
}

@media only screen and (max-width: 600px){
   .about-layout{
      height: 100%;
      min-height: 50vh;
      background-color: #F7F6F1;
      width: 100%;
      position: relative;
   }
}

/* ---------About Who We Are----------- */

.about-who-we-are{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   padding-top: 4rem;
   padding-bottom: 4rem;
   box-sizing: border-box;
}

.about-who-we-are .container{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   padding-top: 2rem;
}

.about-who-we-are p{
   width: 47%;
}

@media only screen and (max-width: 600px){
   .about-who-we-are .container{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0rem;
   }

   .about-who-we-are p{
      width: 100%;
      padding-top: 1rem;
   }  
}

/* ---------About Our Mission----------- */
.about-mission{
   position: relative;
   height: 100%;
   width: 100%;
   padding-top: 4rem;
   padding-bottom: 2rem;

   box-sizing: border-box;

   background-color: #F7F6F1;
}

.about-mission .container{
   height: 100%;
   width: 100%;
   display: flex;
   padding-top: 3rem;
}

.about-mission p{
   width: 90%;
}

.about-mission .text{
   width: 100%;
}

.about-mission .image{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.about-mission img{
   max-width: 250px;
   margin-left: auto;
}

@media only screen and (min-width: 1400px){
   .about-mission{
      height: 100%;
      width: 100%;
      padding: 4rem 15%;
   
      box-sizing: border-box;
   
      background-color: #F7F6F1;
   }
}

@media only screen and (max-width: 600px){
   .about-mission .container{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 0rem;
   }   

   .about-mission p{
      width: 100%;
   }

   .about-mission .image{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
   }
   
   .about-mission img{
      max-width: 80%;
      margin-left: 0;
   }
}

/* ---------About Our Values----------- */

.about-values{
   width: 100%;
   height: 100%;
   padding-top: 2rem;
   padding-bottom: 6rem;
   box-sizing: border-box;
   background-color: #F7F6F1;
}

.about-values img{
   width: 100%;
   box-sizing: border-box;
   padding: 1rem 8% 0rem 8%;
}

.about-values .container{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
}

.about-values .column{
   width: 30%;
   text-align: center;
}

@media only screen and (max-width: 600px){
   .about-values .container{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .about-values .column h1{
      width: 100%;
   }

   .about-values .column{
      width: 100%;
      text-align: center;
   }

   .about-values .column img{
      width: 45vw;
   }
}

