/* ======================CONTACT=================== */
.contact input {
  height: 2.4rem !important;
  width: 100% !important;
  margin: 0rem 0.5rem !important;
  border-radius: 3px !important;
  border: 0px solid black !important;
  background-color: white !important;

  text-align: start !important;
  font-size: 0.9rem !important;
  color: gray !important;
  padding: 0rem 1rem !important;
  font-family: inherit !important;
}

.contact .forminator-select{
  height: 2.4rem !important;
  width: 100% !important;
  margin: 0rem 0.5rem !important;
  border-radius: 5px !important;
  border: 0px solid black !important;
  background-color: white !important;

  text-align: start !important;
  font-size: 0.9rem !important;
  color: black !important;
  padding: 0rem 0.2rem !important;
  font-family: inherit !important;

  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.contact .forminator-select span{
  color: gray !important;
  font-size: 0.9rem !important; 
}

.contact .forminator-select option{
  color: gray !important;
  font-size: 0.9rem !important; 
}

textarea {
  height: 8rem;
  width: 100%;

     padding: 0.7rem 1rem !important;
  margin: 0rem 0.5rem;

  box-sizing: border-box;

  border-radius: 3px !important;
  border: 0px solid black;
  background-color: white !important;

  text-align: start;
  font-size: 0.9rem;
  color: gray !important;
  font-family: inherit;
}

.contact .forminator-col .forminator-field{
  width :100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact forminator-description{
  display: none !important;
}

.contact .forminator-field button {
  background-color: #EA9A27 !important;;
  border: 1px solid #EA9A27 !important;;
  padding: 0.5rem 1.5rem !important;;
  cursor: pointer !important;;
  border-radius: 30px !important;;
  font-size: 1rem !important;;
  color: white !important;;
  font-weight: 400 !important;;
}

.contact .forminator-field button {
  background-color: #EA9A27 !important;;
  border: 1px solid white !important;;
  padding: 0.5rem 1.5rem !important;;
  cursor: pointer !important;;
  border-radius: 30px !important;;
  font-size: 1rem !important;;
  color: white !important;;
  font-weight: 400 !important;;
}

.contact .forminator-field button:hover {
  background-color: white !important;;
  border: 1px solid white !important;
  color: #EA9A27 !important;;
  transition: 0.8s ease !important;
}

.contact{
   height: 100%;
   width: 100%;
}

.contact-layout{
   width: 100%;
   height: 100%;
   min-height: 40vh;

   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F7F6F1;
}

.contact-layout .container{
   width: 80%;
   text-align: center;
}

@media only screen and (max-width: 600px){
  .contact-layout{
    width: 100%;
    height: 100%;
    min-height: 40vh;

    padding: 2rem 0;
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F6F1;
 }
}

/* -----------Contact Form-------------- */
.contact-form{
   min-height: 40vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   padding-top: 2rem;
   padding-bottom: 2rem;
}

 .contact .form {
   background-color: #EA9A27;
   border-radius: 5px;
   max-width: 500px;
   min-width: 350px;
   padding: 2.5rem 2rem 2rem 2rem;
 }
 
 .contact .row {
   width: auto;
   padding: 0.5rem;
 }
 
 .contact .text h1 {
   padding-bottom: 0.5rem;
 }
 
 .contact .phone {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: flex-start;
   align-items: flex-start;
 
   padding-top: 1rem;
 }
 
 .contact .phone img {
   width: 30px;
   height: 30px;
 }
 
 .contact .phone p {
   padding-left: 1rem;
   padding-bottom: 0.3rem;
 }
 
 .contact input {
   height: 2.2rem;
   width: 100%;
   margin: 0rem 0.5rem;
   border-radius: 3px;
   border: 0px solid black;
   background-color: white;
   /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.001); */
 
   text-align: start;
   font-size: 0.9rem;
   font-family: inherit;
   color: black;
   padding: 0rem 1rem;
 }
 
 .contact textarea {
   height: 8rem;
   width: 100%;
 
   padding: 1rem;
   margin: 0rem 0.5rem;
 
   box-sizing: border-box;
 
   border-radius: 3px;
   border: 0px solid black;
   background-color: white;
   /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.001); */
 
   text-align: start;
   font-size: 0.9rem;
   font-family: inherit;
   color: black;
 }
 
 .contact button {
   background-color: #EA9A27;
   border: 1px solid white;
   padding: 0.5rem 1.5rem;
   cursor: pointer;
   border-radius: 30px;
   font-size: 1rem;
   color: white;
   font-weight: 100;
 }
 
 .contact button:hover {
   background-color: white;
   border: 1px solid white;
   color: #EA9A27;
   transition: 0.8s ease;
 }
 
 @media only screen and (max-width: 600px){
  .contact .form {
    background-color: #EA9A27;
    border-radius: 5px;
    max-width: 500px;
    min-width: auto;
    padding: 2.5rem 2rem 2rem 2rem;
  }
 }
