.footer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  padding-top: 2rem;

  box-sizing: border-box;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer .column {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
}

.footer .column:nth-child(2) {
  width: 33%;
  height: 100%;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .column:nth-child(3) {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer h1 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 0.5rem;
  text-align: start;
  width: 100%;
}

.footer .column .links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer .column .links a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.footer .column .links a:hover {
  color: #ea9a27;
  transition: 0.8s ease;
}

.footer .column .row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5rem;
}

.footer .column .row img {
  width: 30px;
  height: 30px;
}

.footer .logo img {
  width: 50%;
  max-width: 15rem;
  min-width: 12rem;
}

.footer .rights {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  margin-top: 2rem;
  border-top: 0.06rem solid gray;
}

@media only screen and (max-width: 600px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0rem;
  }

  .footer .column:nth-child(2) {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
  }

  .footer .column:nth-child(3) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .footer .column .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
  }

  .footer h1 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0.5rem;
    text-align: start;
    width: 100%;
    display: none;
  }

  .footer .column .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .column .links a {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0.5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .footer .rights {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;
    margin-top: 2rem;
    border-top: 0.06rem solid gray;
  }

  .footer .column .row img {
    width: 30px;
    height: 30px;
    display: none;
  }
}
