/* -------------Fruits Layout------- */
.fruits{
   height: 100%;
   width: 100%;
}

.fruits-layout{
   height: 100%;
   width: 100%;

   position: relative;
}

.fruits-layout img{
   width: 100%;
   height: 100%;
}

.fruits-layout .content{
   /* width: 100%;
   height: 100%; */
   position: absolute;
   left: 50%;
   bottom: 50%;
   transform: translate(-50%, 50%);
}

/* ------------Fruits Description------------ */

.fruits-desc{
   width: 100%;
   height: 100%;
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.fruits-desc p{
   text-align: center;
}

/* ----------Fruits Grid------------ */

.fruits-grid{
   width: 100%;
   height: 100%;
   background-color: #F7F6F1;
   padding-top: 4rem;
   padding-bottom: 4rem;

   display: grid;
   justify-items: center;
}

.fruits-grid img{
  width: 10rem;
}

.fruits-grid .container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.fruits-grid .card{
   width: 20vw;
   margin: 2rem 1rem;

   display: grid;
   justify-items: center;
}

/* ----------Product Contact---------- */

.products-contact{
   text-align: center;
   padding-top: 3rem;
   padding-bottom: 4rem;
}

.products-contact .container{

}

.products-contact h1{
   padding-top: 1rem;
}

.products-contact .button{
   padding-top: 2rem;
}

