/* ---------Home layout------- */
.home-layout {
  width: 100%;
  height: 100%;

  position: relative;
}

.layout-image {
  width: 100%;
} 

.home-layout .container {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);

  text-align: center;
  z-index: 5;
}

.home-layout h1 {
  font-size: 2.2rem;
}

.home-layout h3 {
  font-size: 1.8rem;
  padding-top: 2rem;
}

.home-layout h5 {
  font-size: 1.4rem;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.home-layout .input{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
}

.home-layout input {
  height: 2.5rem;
  width: 16rem;
  box-sizing: border-box;
  padding: 0rem 1rem;
  padding-left: 2.4rem;
  margin-right: 0.4rem;
  border-radius: 5rem;
  border: 0px solid black;
  background-color: #fbfbfb;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.001);

  text-align: start;
  font-size: 0.9rem;
  color: black;
}

.home-layout .input img{
  width: 18px;
  height: 18px;

  cursor: pointer;

  position: absolute;
  left: 0.8rem;
  bottom: 50%;
  transform: translateY(50%)
}

@media only screen and (max-width: 600px){
  .home-layout {
    width: 100%;
    height: 100%;

    min-height: 50vh;
    background-color: #F7F6F1;
  
    position: relative;
  }

  .home-layout .input{
    display: flex;
    position: relative;
  }

  .layout-image {
    display: none;
  } 
  
  .home-layout .input img{
    width: 18px;
    height: 18px;
  
    cursor: pointer;

    display: block;
  
    position: absolute;
    left: 0.8rem;
    bottom: 50%;
    transform: translateY(50%)
  }

  .home-layout input {
    height: 2.5rem;
    width: 60vw;
    box-sizing: border-box;
    padding: 0rem 1rem;
    padding-left: 2.4rem;
    margin-right: 0.4rem;
    border-radius: 5rem;
    border: 0px solid black;
    background-color: #fbfbfb;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.001);
  
    text-align: start;
    font-size: 0.9rem;
    color: black;
  }
}

/* ------home specialize--------- */

.specialize {
  width: 100%;
  height: 100%;

  padding-top: 3rem;
  padding-bottom: 4rem;

  box-sizing: border-box;
}

.specialize .heading {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.specialize .container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.specialize .container .card {
  width: 33.3%;
  height: 100%;
  margin: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.specialize .container .card img {
  border-radius: 100%;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgb(0, 0, 0, 0.05);
  width: 6.5rem;
}

.specialize .container .card p {
  display: block;
  min-height: 10rem;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 600px){
  .specialize .container {
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .specialize .container .card {
    width: 100%;
    height: 100%;
    margin: 1rem;
    box-sizing: border-box;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .specialize .container .card img {
    border-radius: 100%;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgb(0, 0, 0, 0.05);
    width: 6.5rem;
  }
  
  .specialize .container .card p {
    display: block;
    min-height: 100%;
    width: 100%;
    text-align: center;

    padding-bottom: 1rem;
  }
}

/* ----------Who we are-------- */

.who-we-are {
  position: relative; 

  width: 100%;
  height: 100%;
  min-height: 50vh;

  box-sizing: border-box;

  padding-top: 4rem;
  padding-bottom: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F6F1;
}

.who-we-are .image {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.who-we-are .image img {
  width: 60%;
  max-width: 20rem;
}

.who-we-are .container {
  width: 100%;
}

.who-we-are p {
  padding-bottom: 2rem;
}

@media only screen and (max-width: 600px){
  .who-we-are {
    width: 100%;
    height: 100%;
  
    box-sizing: border-box;
  
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    display: flex;
    flex-direction: column;
    background-color: #F7F6F1;
  }

  .who-we-are .container {
    width: 100%;
    padding-top: 2rem;
  }

  .who-we-are p {
    padding-bottom: 1rem;
  }

  .who-we-are .image img {
    width: 70%;
    max-width: auto;
  }
}

/* ------------Home Newsletter---------------- */
.home-newsletter {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-newsletter .container {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-newsletter p {
  padding: 1rem 0rem;
}

.home-newsletter .input {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-newsletter input {
  height: 2.5rem;
  width: 16rem;
  padding: 0rem 1.5rem;
  margin-right: 1rem;
  border-radius: 5rem;
  border: 0px solid black;
  background-color: #fbfbfb;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.001);

  text-align: start;
  font-size: 0.9rem;
  color: black;
}

@media only screen and (max-width: 600px) {
  .home-newsletter .container .content{
    display: flex;
    flex-direction: column;
  }  

  .home-newsletter input {
    height: 2.5rem;
    width: 45vw;
    padding: 0rem 1.5rem;
    margin-right: 1rem;
    border-radius: 5rem;
    border: 0px solid black;
    background-color: #fbfbfb;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.001);
  
    text-align: start;
    font-size: 0.9rem;
    color: black;
  }

  .home-newsletter p {
    padding: 1rem 0rem;
    text-align: center;
  }
}

/* ------------Home contact-------------- */

.home-contact {
  width: 100%;
  height: 100%;

  padding-top: 4rem;
  padding-bottom: 6rem;
  box-sizing: border-box;

  background-color: #fbfbfb;
}

.home-contact .container {
  display: flex;
  padding-top: 2rem;
}  

.home-contact .column {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
 
.home-contact .text {
  width: 40%;
}

.home-contact .form {
  background-color: #EA9A27;
  border-radius: 5px;
  width: 500px;
  padding: 2.5rem 2rem 2rem 2rem;
  margin-left: auto;
  box-sizing: border-box;
}

.home-contact .row {
  width: auto;
  padding: 0.5rem;
}

.home-contact .text h1 {
  padding-bottom: 0.5rem;
  width: 100%;
}

.home-contact .phone {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;

  padding-top: 1rem;
}

.message-icon{
  width: 50px;
  height: 50px;
}

.home-contact .phone img {
  width: 40px;
  height: 40px;
}

.home-contact .phone p {
  padding-left: 1rem;
  padding-bottom: 0rem;
}

.home-contact input {
  height: 2.2rem;
  width: 100%;
  margin: 0rem 0.5rem;
  border-radius: 3px;
  border: 0px solid black;
  background-color: white;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.001); */

  text-align: start;
  font-size: 0.9rem;
  color: black;
  padding: 0rem 1rem;
  font-family: inherit;
}

.home-contact textarea {
  height: 8rem;
  width: 100%;

  padding: 1rem;
  margin: 0rem 0.5rem;

  box-sizing: border-box;

  border-radius: 3px;
  border: 0px solid black;
  background-color: white;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.001); */

  text-align: start;
  font-size: 0.9rem;
  color: black;
  font-family: inherit;
}

.home-contact button {
  background-color: #EA9A27;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1rem;
  color: white;
  font-weight: 100;
}

.home-contact button:hover {
  background-color: white;
  border: 1px solid white;
  color: #EA9A27;
  transition: 0.8s ease;
}

@media only screen and (max-width: 600px){
  .home-contact .container {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
  }
  
  .home-contact .text {
    width: 100%;
    box-sizing: border-box;
  }
  
  .home-contact .form {
    background-color: #EA9A27;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    padding: 2.5rem 2rem 2rem 2rem;
    margin-top: 1rem;
    margin-left: 0;
    box-sizing: border-box;
  }
}
